.svg-mask {
    position: absolute;
}
.container {
    .container-inner {
        background-color: #efe6dd;
        overflow: hidden;
        .visual-section {
            position: relative;
            padding: 20px 116px;
            height: 100vh;
            .pix {
                position: fixed;
                top: 20px;
                left: 116px;
                height: 28px;
                font-family: 'PartialSansKR-Regular';
                font-size: 28px;
                font-weight: 700;
                z-index: 999;
                cursor: default;
                .p {
                    color: #433633;
                }
                .i {
                    color: #8f857d;
                }
                .x {
                    color: #5c5552;
                }
                .member-wrap {
                    display: flex;
                    flex-direction: column;
                    padding-top: 20px;
                    opacity: 0;
                    pointer-events: none;
                    transform: translateY(-20px);
                    transition: .3s ease;
                    .member {
                        font-family: "Classic";
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                &:hover {
                    .member-wrap {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            .anchor-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 5px;
                position: fixed;
                top: 20px;
                right: 20px;
                max-width: 300px;
                z-index: 999;
                button {
                    padding: 9px 22px;
                    border-radius: 32px;
                    background-color: #171717;
                    border: 2px solid #171717;
                    color: #fff;
                    cursor: pointer;
                    transition: .3s ease;
                    &:hover {
                        background-color: #fff;
                        color: #171717;
                    }
                }
            }
        }
        .contents-section {
            padding-top: 160px;
            padding-bottom: 160px;
            .intro {
                position: relative;
                padding-left: 50%;
                padding-right: 290px;
                .visual-title-wrap {
                    position: absolute;
                    top: 10%;
                    left: 6%;
                    width: 100%;
                    z-index: 1;
                    .title {
                        font-family: "PartialSansKR-Regular";
                        font-weight: 700;
                        letter-spacing: 36px;
                        &.title-no {
                            font-size: 365px;
                            color: #bb4430;
                        }
                        &.title-code {
                            position: absolute;
                            top: 40%;
                            left: 40%;
                            font-size: 212px;
                        }
                    }
                }
                .intro-list {
                    .tit {
                        position: relative;
                        font-size: 36px;
                        font-weight: 700;
                        color: #bb4430;
                        &::before {
                            content: '▶ ';
                            position: absolute;
                            top: 50%;
                            left: -30px;
                            font-size: 21px;
                            transform: translateY(-50%);
                        }
                        +.nr-list {
                            padding-top: 30px;
                        }
                    }
                    .nr-list {
                        .des {
                            line-height: 24px;
                            font-size: 16px;
                        }
                    }
                    +.intro-list {
                        padding-top: 100px;
                    }
                }
            }
            .project {
                .project-list {
                    .project-item {
                        .logo-area {
                            position: relative;
                            height: 55vh;
                            .logo {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 300px;
                                pointer-events: none;
                            }
                        }
                        .project-contents {
                            position: relative;
                            .tit {
                                margin-bottom: 60vh;
                                font-family: "Classic";
                                font-size: 180px;
                                font-weight: 700;
                                text-align: center;
                            }
                            .nr-list {
                                .s-tit {
                                    font-family: "Bagel";
                                    font-size: 128px;
                                    font-weight: 100;
                                    text-align: center;
                                }
                                .back-project {
                                    position: relative;
                                    display: block;
                                    height: 680px;
                                    &:hover {
                                        &::before {
                                            opacity: 1;
                                        }
                                        &::after {
                                            opacity: 1;
                                        }
                                    }
                                    &::before {
                                        content: 'view page';
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        font-family: "Classic";
                                        font-size: 48px;
                                        font-weight: 700;
                                        opacity: 0;
                                        transform: translate(-50%, -50%);
                                        transition: .3s ease;
                                        z-index: 1;
                                    }
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        right: 0;
                                        left: 0;
                                        border-radius: 32px;
                                        opacity: 0;
                                        transition: .3s ease;
                                    }
                                }
                            }
                        }
                        &.bubble {
                            .logo {
                                transform: translate(-50%, 0%);
                            }
                            .project-contents {
                                .tit {
                                    color: #F2DDA4;
                                }
                                .nr-list {
                                    .item {
                                        display: flex;
                                        gap: 32px;
                                        flex-direction: column;
                                        align-items: center;
                                        .s-tit {
                                            color: #F2DDA4;
                                        }
                                        .box-list {
                                            .box-item {
                                                width: 1024px;
                                                background-color: #F2DDA4;
                                            }
                                            .des {
                                                color: #262626;
                                            }
                                        }
                                        .back-project {
                                            // background: url('https://95choijh.github.io/noCode/dist/assets/images/project-softr.png') no-repeat;
                                            // background-position: center -100px;
                                            &:hover {
                                                &::before {
                                                    color: #262626;
                                                }
                                                &::after {
                                                    background-color: #F2DDA4;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.glide {
                            .logo {
                                transform: translate(-50%, 60%);
                            }
                            .project-contents {
                                .tit {
                                    color: #503636;
                                }
                                .nr-list {
                                    .item {
                                        display: flex;
                                        gap: 32px;
                                        flex-direction: column;
                                        align-items: center;
                                        .s-tit {
                                            color: #503636;
                                        }
                                        .box-list {
                                            .box-item {
                                                width: 1024px;
                                                background-color: #503636;
                                            }
                                            .des {
                                                color: #ffffff;
                                            }
                                        }
                                        .back-project {
                                            // background: url('https://95choijh.github.io/noCode/dist/assets/images/project-softr.png') no-repeat;
                                            // background-position: center -100px;
                                            &:hover {
                                                &::before {
                                                    color: #ffffff;
                                                }
                                                &::after {
                                                    background-color: #503636;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.softr {
                            .logo {
                                transform: translate(-50%, 20%);
                            }
                            .project-contents {
                                .tit {
                                    color: #6f4620;
                                }
                                .nr-list {
                                    .item {
                                        display: flex;
                                        gap: 32px;
                                        flex-direction: column;
                                        align-items: center;
                                        .s-tit {
                                            color: #6f4620;
                                        }
                                        .box-list {
                                            .box-item {
                                                width: 1024px;
                                                background-color: #6f4620;
                                            }
                                            .des {
                                                color: #fac66c;
                                            }
                                        }
                                        .back-project {
                                            background: url('https://95choijh.github.io/noCode/dist/assets/images/project-softr.png') no-repeat;
                                            background-position: center -100px;
                                            &:hover {
                                                &::before {
                                                    color: #fac66c;
                                                }
                                                &::after {
                                                    background-color: #6f4620;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.webflow {
                            .logo {
                                transform: translate(-50%, 20%);
                            }
                            .project-contents {
                                .tit {
                                    color: #CDF7F6;
                                }
                                .nr-list {
                                    .item {
                                        display: flex;
                                        gap: 32px;
                                        flex-direction: column;
                                        align-items: center;
                                        .s-tit {
                                            color: #CDF7F6;
                                        }
                                        .box-list {
                                            .box-item {
                                                width: 906px;
                                                background-color: #CDF7F6;
                                            }
                                            .des {
                                                color: #4353FF;
                                            }
                                        }
                                        .back-project {
                                            background: url('https://95choijh.github.io/noCode/dist/images/project-webflow.png') no-repeat;
                                            width: 100%;
                                            background-position: center -100px;
                                            &:hover {
                                                &::before {
                                                    color: #4353FF;
                                                }
                                                &::after {
                                                    background-color: #CDF7F6;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.storybook {
                            .logo {
                                transform: translate(-50%, 20%);
                            }
                            .project-contents {
                                .tit {
                                    color: #282b44;
                                }
                                .nr-list {
                                    .item {
                                        display: flex;
                                        gap: 32px;
                                        flex-direction: column;
                                        align-items: center;
                                        .s-tit {
                                            color: #282b44;
                                        }
                                        .box-area {
                                            gap: 12px;
                                        }
                                        .box-list {
                                            .box-item {
                                                width: 845px;
                                                background-color: #282b44;
                                            }
                                            .des {
                                                color: #ffffff;
                                                a {
                                                    color: #fff;
                                                }
                                            }
                                            &.use {
                                                .des {
                                                    display: flex;
                                                    gap: 12px;
                                                }
                                            }
                                            &.strength,
                                            &.weakness {
                                                .box-item {
                                                    width: 750px;
                                                }
                                            }
                                        }
                                        .back-project {
                                            background: url('https://95choijh.github.io/noCode/dist/assets/images/project-storybook.png') no-repeat;
                                            width: 100%;
                                            background-position: center -100px;
                                            &:hover {
                                                &::before {
                                                    color: #ffffff;
                                                }
                                                &::after {
                                                    background-color: #282b44;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.flex {
    display: flex;
}
.nr-list {
    &.case1 {
        .item + .item {
            padding-top: 20px;
        }
    }
    &.case2 {
        .item + .item {
            padding-top: 15vh;
        }
    }
}

.box-list {
    &.case1 {
        .box-item {
            padding: 32px;
            border-radius: 32px;
            box-sizing: border-box;
            .des {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                .subject {
                    flex-shrink: 0;
                    align-self: center;
                    padding: 4px 6px;
                    font-family: "Pretendard";
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 28px;
                    color: #282b44;
                    background-color: #fff;
                    border-radius: 4px;
                }
                +.des {
                    padding-top: 20px;
                }
            }
            +.box-item {
                margin-top: 20px;
            }
        }
    }
    &.case2 {
        .box-item {
            border-radius: 32px;
            overflow: hidden;
        }
    }
}